.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner {
    font-size: 4.5vh;
    line-height: 6vh;
    min-height: 6vh;
}

.downloadDisplay {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

.downloadText {
    display: inline-block;
    font-size: 35vh;
    line-height: 33vh;
}

.downloadMetric {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mbps {
    display: block;
    font-size: 9vh;
    margin-top: 3vh;
}

.refresh {
    display: block;
    margin-top: 3vh;
}

.refreshBtn {
    border: 1px solid #2ab72a !important;
    color: black;
    height: 8vh;
    width: 8vh;
}

.refreshIcon {
    color: black;
    height: 5vh !important;
    width: 5vh !important;
}

.refreshBtn:hover {
    background-color: transparent !important;
}

.latencyUploadSect {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
}