.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner {
    font-size: 4.5vh;
    line-height: 6vh;
    min-height: 6vh;
    font-weight: bold;
}

.downloadDisplay {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

.downloadText {
    display: inline-block;
    font-size: 35vh;
    line-height: 33vh;
}

.downloadMetric {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mbps {
    display: block;
    font-size: 9vh;
    margin-top: 3vh;
}

.refresh {
    display: block;
    margin-top: 3vh;
    /*height: 5vh !important;*/
    /*width: 5vh !important;*/
}

.refreshBtn {
    border: 2px solid #2ab72a !important;
    color: black !important;
    height: 8vh !important;
    width: 8vh !important;
}

.refreshIcon {
    color: black;
}

.refreshBtn:hover {
    background-color: transparent !important;
}

.moreInfoContainer {
    margin-top: 5vh;
}

.moreInfo {
    font-size: 1.75vh !important;
}

.latencyUploadSect {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: space-between;
}

.latency,
.upload {
    font-size: 2.5vh;
    font-weight: bold;
    border-bottom: 1px solid #d5d4d1;
    padding-bottom: 0.75vh;
    margin-bottom: 0.75vh;
}

.spacer {
    width: 2vw;
}

.lmLabel {
    color: #6b6967;
    font-size: 2vh;
    padding-bottom: 0.5vh;
}

.lmMetric {
    color: #221f1f;
    font-size: 7vh;
}

.lmInfo {
    font-size: 1.5vh;
}

.clientInfo {
    font-size: 1.75vh;
}

.clientLocation {
    margin-left: 10px;
}

.clientIp {
    margin-left: 15px;
}